<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <!-- Display errors. Might be good to include in separate view and using include syntax instead of rewriting -->
    <% if (locals.errors) { %>
        <% errors.forEach((err) => { %>
            <p><%- err.msg %></p>
        <% }) %>
    <% } %>

    <% if (messages.error) { %>
        <p><%- messages.error %></p>
    <% } %>

    <form method="POST" action="/login">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required value=<%- locals.email %>>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/register">Register</a>
</body>

</html>